<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vishal_cv_home</title>
    <link rel="stylesheet" href= "{% static 'home/css/all.min.css' %}">
    <link rel="stylesheet" href= "{% static 'home/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    {% block extracss %}
        <link rel="stylesheet" href= "{% static 'home/css/home.css' %}">
    
    {% endblock extracss %}
 

</head>
<body>  
   <div class="container-fluid ">
       <div class="row" >
            <div class="col-sm-3" id="barcol">
             {% include 'home/sidebar.html' %}
            </div>
            
            <div class="col-sm-9">
              {% block maincontent %}
              
              {% endblock maincontent %}
            </div>

        </div>
   </div>
   

    
    
    
    
    
    
    
    
    
    
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.js' %}"></script>
    <script src="{% static 'home/js/popper.js' %}"></script>
    <script src="{% static 'home/js/all.min.js' %}"></script>
</body>
</html>