{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<div class="container mt-5">
    <h1 class="text-primary mb-5 border-bottom">SKILLS</h1>
    <div class="row text-dark">
      <div class="col-sm-5">
          <h3 class="mt-5">HTML-CSS-Bootstrap</h3>
          <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" 
              style="width:85%" aria-valuenow="85" aria-valuemin="100" aria-valuemax="85">85%</div>
          </div>
     </div>
     <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">JavaScript-Reactjs</h3>
        <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">85%</div>
        </div>
     </div>
     <div class="col-sm-5">
        <h3 class="mt-5">Data Structure-Algorithm</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85" style="width: 85%">85%</div>
        </div>
     </div>
     <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">Python</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
      </div>
     </div>
     <div class="col-sm-5">
        <h3 class="mt-5">Dbms-Mysql</h3>
        <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
      </div>
     </div>
     <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Django-Django-RestApi</h3>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
            </div>
     </div>
     <div class="col-sm-5">
            <h3 class="mt-5">Version controler-Github</h3>
            <div class="progress">
                <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
      </div>
     </div>
     <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Virtual Private Server</h3>
            <div class="progress">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
      </div>
     </div>
   
    </div>
   </div>

{% endblock maincontent %}

