{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<div class="container mt-5">
    <h1 class="text-info mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-dark mb-5">
        <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
        <h3>Data Analyst</h3>
        <p class="ss-color">EXCEL, MICROSOFT POWERBI , PANDAS</p>
        </div>
        <div class="col-sm-4">
        <i class="fas fa-palette fa-2x mb-3 i-color"></i>
        <h3>Web Design</h3>
        <p class="ss-color">HTML, CSS, BOOTSTRAP, REACTJS</p>
        </div>
        <div class="col-sm-4">
        <i class="fas fa-code fa-2x mb-3 i-color"></i>
        <h3>Web Development</h3>
        <p class="ss-color">PYTHON, DJANGO, DJANGO-RESTAPI</p>
        </div>
    </div>

    <div class="row text-center text-dark mb-5">
        <div class="col-sm-4">
        <i class="fas fa-database fa-2x mb-3 i-color"></i>
        <h3>Database</h3>
        <p class="ss-color">MYSQL ,MYSQL WORKBENCH</p>
        </div>
        <div class="col-sm-4">
        <i class="fab fa-apple fa-2x mb-3 i-color"></i>
        <h3>Flutter</h3>
        <p class="ss-color">PYTHON.</p>
        </div>
        <div class="col-sm-4">
        <i class="fa-solid fa-video fa-2xl mb-3 i-color"></i>   
        {% comment %} <i class="fas fa-ad fa-2x mb-3 i-color"></i> {% endcomment %}
        <h3>Video Editing</h3>
        <p class="ss-color">IMOVIE</p>
        </div>
   </div>

   <div class="row text-center text-dark mb-5">
        <div class="col-sm-4">
        <i class="fa-brands fa-python fa-2xl mb-3 i-color"></i>
        <h3>Python GUI</h3>
        <p class="ss-color">PYTHON TKINTER</p>
        </div>
        <div class="col-sm-4">
        <i class="fas fa-database fa-2x mb-3 i-color"></i>
        <h3>Hosting</h3>
        <p class="ss-color">OCEAN DIGITAL</p>
        </div>
        <div class="col-sm-4">
        <i class="fas fa-headset fa-2x mb-3 i-color"></i>
        <h3>Support</h3>
        <p class="ss-color">@email</p>
        </div>
   </div>

</div>

{% endblock maincontent %}

