

/* google fonts */
.stfont
{   
    font-family: 'Poppins', sans-serif;
    
}
/* main name heading link underline none */
#linkh
{
    text-decoration: none;
}
#indexlink
{
    text-decoration: none;
}






/* col colour change */
#barcol
{

    background-color: black;
    


}
/* name colour chnage */
a.barler{
    color: white;
}

a.barler:hover{
    color: rgb(199, 120, 23);
    background-color: rgb(248, 247, 178);
}
a.barler.active
{    
    color: black;
    background-color:white;

}
.footcol
{
    color: white;

}

/* social media */
.fa{
    margin-left: 2px;
}


section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: black;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color:#1778F2;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

 @keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 80px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  animation: typing 1s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
.foot{
    color:#1778F2;

}








